<h3 class="ui header">{{t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерЗаказа
      class=(if (v-get validationModel "номерЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.номерЗаказа-caption")
      data-test-i-i-s-k-u-r-s-a-v-a-y-a-заказ-e-номерЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерЗаказа" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.заправкаАвто-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заправкаАвто
      displayAttributeName="колТоплива"
      autocomplete=true
      relationName="заправкаАвто"
      projection="ЗаправкаАвтоL"
      title=(t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.заправкаАвто-caption")
      readonly=readonly
      componentName="заправкаАвтоLookup"
      class=(if (v-get validationModel "заправкаАвто" "isInvalid") "error")
      data-test-i-i-s-k-u-r-s-a-v-a-y-a-заказ-e-заправкаАвто=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заправкаАвто" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.товар-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.товар
      displayAttributeName="наименование"
      autocomplete=true
      relationName="товар"
      projection="ТоварL"
      title=(t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.товар-caption")
      readonly=readonly
      componentName="товарLookup"
      class=(if (v-get validationModel "товар" "isInvalid") "error")
      data-test-i-i-s-k-u-r-s-a-v-a-y-a-заказ-e-товар=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "товар" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.клиент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент
      displayAttributeName="имя"
      autocomplete=true
      relationName="клиент"
      projection="КлиентL"
      title=(t "forms.i-i-s-k-u-r-s-a-v-a-y-a-заказ-e.клиент-caption")
      readonly=readonly
      componentName="клиентLookup"
      class=(if (v-get validationModel "клиент" "isInvalid") "error")
      data-test-i-i-s-k-u-r-s-a-v-a-y-a-заказ-e-клиент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент" "message")}}
  </div>
</form>
